*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(46, 50, 67);
    color: aliceblue;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 3rem;
}

.choice{
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.choice:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    
    background-color: black;
}

img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 3rem;
}

.score{
    font-size: 1.5rem;
}

#user-score, #comp-score{
    font-size: 3rem;
}

.message-container{
    margin-top: 3rem;
}

#message{
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    display: inline;
    border-radius: 2rem;
    padding: 0.5rem;
}